


<% if @project != nil && @project.errors.any? %>
  <div class="alert alert-danger col-md-6"> 
    <strong>
      <%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:
    </strong>
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<div class="col-md-4 col-md-offset-1">
  <h2>Création d'un projet</h2>
  <%= form_for :project, url: projects_path do |f| %>
    <div class="form-group">
      <%= f.label :name %><br />
      <%= f.text_field :name, :class => 'form-control' %>
    </div>

    <br />

    <%= f.submit("Créer le projet", :class => 'btn btn-primary') %>
    <%= link_to "Annuler", projects_path, :class => "btn btn-danger" %>
  <% end %>
</div>