<!DOCTYPE html>
<html>
<head>
  <title>RankMe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>


  <%= stylesheet_link_tag    "bootstrap", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap-theme", media: "all", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
</head>
<body>

<br />
<br />

	<div class="content">
		<div class="row">
			<div class="col-md-offset-2 col-md-8">
				<%= yield %>
			</div>
		<div>
	</div>



 	<script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/comments.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/posts.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/welcome.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>

</body>
</html>
